SERPER_API_KEY=your_serper_api_key_here
PAGESPEED_API_KEY=your_pagespeed_api_key_here

SERPER_GL=es
SERPER_HL=es
SERPER_NUM=10

REQUEST_TIMEOUT=10
MAX_CONTENT_BYTES=120000
MAX_RESULTS=20
MAX_PAGESPEED_CALLS=5
PAGESPEED_STRATEGY=mobile
